// Visually hidden blog title re: top banner image.
#block-the-loyalist-collection-page-title {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.view-content article:last-child {
  margin-bottom: 0!important;
}
