/* UNB Libraries Logo SVG */
.unb-lib-logo {
  width: 320px;
  max-width: 100%;

  .fill-libraries {
    fill: $unb-logo-red;
  }

  .fill-unb {
    fill: $white;
  }
}

/* Loyalist soldier logo - outline + full colour */
.site-logo {
  .red {
    fill: #b63930;
  }

  .gold {
    fill: #dbae23;
  }

  .white {
    fill: #fff;
  }

  .shading {
    opacity: .2;
  }

  .brown {
    fill: #7d433a;
  }

  .skin {
    fill: #e6bd81;
  }

  .gray {
    fill: #333;
  }
}
