// Theme variables.
$core-icon-size: 17px;
$footer-padding: $spacer 0 !default;
$link-text-dark: rgba($dark, 0.75);
$link-text-light: rgba($white, 0.75);
$link-underline-light: rgba($link-color, 0.3);
$link-underline-light-hover: rgba($link-color, 0.9);
$local-tasks-primary-margin: $spacer 0 !default;
$local-tasks-secondary-margin: 0 0 $spacer 0 !default;
$nav-tabs-link-active-bg-sm: #dee2e6 !default;
$navbar-brand-image-height: 66px !default;
$navbar-brand-image-height-lg: 96px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 $spacer 0 0 !default;
$navbar-brand-site-title-text-transform: none !default;
$navbar-brand-site-title-font-size: $spacer * 1.5 !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;
$region-padding: 0 $spacer * 0.5rem!default;
$text-decoration-color-default: rgba(var(--bs-link-color-rgb), 0.15);
$text-decoration-line-default: underline;
$text-decoration-style: underline;
$text-decoration-style-hover: underline;
$text-underline-offset: $spacer * 0.25;
$transition-speed-default: 0.25s;
$transition-timing-default: ease-in-out;
$transition-all: all $transition-speed-default $transition-timing-default;
