// Override bootstrap framework variables / add theme colors / etc.
// Full list of variables in /vendor/twbs/bootstrap4/scss/_variables.scss.
$body-bg: #d5d9da;
$primary: #aa0501;
$secondary: #00607a;

// Custom
$text-muted: #4f566c;
