// Override bootstrap framework variables / add theme colors / etc.
// Full list of variables in /vendor/twbs/bootstrap4/scss/_variables.scss.
$body-bg: #d5d9da;
$primary: #aa0501;
$link-color: $primary;

$headings-font-family: 'Merriweather', serif;
$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;
// Custom
$text-muted: #4f566c;
