@import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// Variables
$color-dark-gray: #4a4a4a;
$color-red: #c71b1b;
$color-mint: #dfefdd;
$color-dark-mint: #7f8f7d;

// Global
input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 10px !important;
  width: 10px !important;
  margin-right: 4px;
  border: 1px solid !important;
  border-color: #ccc !important;

  &:checked {
    background-color: #aaa !important;
  }

  &:focus {
    outline: none !important;
  }
}

body {
    height: 100%;
    background-image: url("/themes/custom/loyalist_lib_unb_ca/images/loyalist_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $color-mint;
    font-family: 'Nunito', sans-serif;
}

body > div.dialog-off-canvas-main-canvas > div.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0px;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  section.col-sm-12 {
    padding: 20px;
    background: white;
    color: $color-dark-gray;
  }

  .region.region-header h1 {
    margin-bottom: 10px;
    border-bottom: 0px;
    color: white;
  }

  div[role="heading"] {
    padding: 0px;
  }
}

td {
  padding: 10px;
}

a, a:active, a:focus, a:visited {
  color: $color-red;

  &:hover {
    cursor: pointer !important;
    color: $color-red;
  }
}

#navbar {
  border: none !important;
  border-radius: 0px !important;
  background-color: $color-dark-gray;

  nav, div, h2, ul, li {
    height: inherit;
  }

  a {
    height: 30px !important;
  }

  ul {
    float: right;
    height: inherit;

    a:hover, li.active a, li a[aria-expanded="true"] {
      color: $color-red;
      background: white;
    }
  }

  a {
    padding-top: 5px !important;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
  }
}

a[href="/user/register"] {
  display: none !important;
}

@media (min-width: 828px) {
  #navbar {
    min-height: 30px !important;
    height: 30px !important;
  }
}

@media (min-width: 768px) {
  #navbar {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 11%;
    padding-right: 11%;
  }
}

.name.navbar-brand {
  font-size: 26px;
}

.js-quickedit-page-title.page-header {
  font-size: 24px;
}

div.form-item.js-form-item.form-type-vertical-tabs > div {
  display: none;
}

.dropdown-menu {
  background-color: $color-dark-gray;
}

// File links
a.file {
  font-size: 100% !important;
}

// Select glyph
div.select-wrapper::after {
  color: $color-dark-mint;
}

// Page title drop-shadow
h1.page-header {
  text-shadow: 1px 1px 1px $color-dark-mint;
}

// Remove Bootstrap input glow
.form-control:focus {
  border-color: $color-dark-gray;
  box-shadow: none;
}

// Avoid Paragraphs module content wrapper unexplainable gradient
.paragraphs-content-wrapper::after,
.paragraphs-content-wrapper,
.paragraphs-plugin-wrapper::after,
.paragraphs-plugin-wrapper {
  background: inherit !important;
}

// Pagination
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $color-dark-mint;
  border-color: $color-dark-mint;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  color: $color-dark-mint;
}


.pagination > li > a,
.pagination > li > span {
  color: $color-dark-mint;
}

// Footer
#dal-footer-logo {
  max-height: 40px;
}

#unb-footer-logo {
  position: relative;
  top: -10px;
  max-height: 60px;
}

#sshrc-footer-logo {
  max-width: 420px;
}

footer.footer.container {
  height: 100%;
  margin-top: 0px !important;
  padding: 20px;
  background: white;
}

// Browse Recipes Form
#views-exposed-form-loyalist-browse-recipes-page-1,
#views-exposed-form-loyalist-browse-recipes-page-3 {
  padding-left: 40px;
}

#views-exposed-form-loyalist-browse-recipes-page-1 > div >
div.form-item.js-form-item,
#views-exposed-form-loyalist-browse-recipes-page-3 > div >
div.form-item.js-form-item {
  display: table;
}

#views-exposed-form-loyalist-browse-recipes-page-1 > div > div:nth-child(7),
#views-exposed-form-loyalist-browse-recipes-page-1 > div > div:nth-child(8),
#views-exposed-form-loyalist-browse-recipes-page-3 > div > div:nth-child(7),
#views-exposed-form-loyalist-browse-recipes-page-3 > div > div:nth-child(8) {
  display: inline-block !important;
}

#views-exposed-form-loyalist-browse-recipes-page-1 div.form-item,
#views-exposed-form-loyalist-browse-recipes-page-3 div.form-item {
  padding-right: 20px;
  padding-bottom: 10px;
}

#views-exposed-form-loyalist-browse-recipes-page-1 label,
#views-exposed-form-loyalist-browse-recipes-page-3 label {
  width: 100px;
}

#views-exposed-form-loyalist-browse-recipes-page-1 input,
#views-exposed-form-loyalist-browse-recipes-page-1 select,
#views-exposed-form-loyalist-browse-recipes-page-3 input,
#views-exposed-form-loyalist-browse-recipes-page-3 select {
  width: 310px;
}

#views-exposed-form-loyalist-browse-recipes-page-1 > div > div:nth-child(7) > input,
#views-exposed-form-loyalist-browse-recipes-page-1 > div > div:nth-child(8) > input,
#views-exposed-form-loyalist-browse-recipes-page-3 > div > div:nth-child(7) > input,
#views-exposed-form-loyalist-browse-recipes-page-3 > div > div:nth-child(8) > input {
  width: 124px;
}

#views-exposed-form-loyalist-browse-recipes-page-1 > div > div:nth-child(7) > input,
#views-exposed-form-loyalist-browse-recipes-page-3 > div > div:nth-child(7) > input {
  position: relative;
  left: -4px;
}

#views-exposed-form-loyalist-browse-recipes-page-1 > div > div:nth-child(8) > label,
#views-exposed-form-loyalist-browse-recipes-page-3 > div > div:nth-child(8) > label {
  width: 30px;
}

#views-exposed-form-loyalist-browse-recipes-page-1  > div > div:nth-child(11),
#views-exposed-form-loyalist-browse-recipes-page-3  > div > div:nth-child(11) {
  display: table;
}

#views-exposed-form-loyalist-browse-recipes-page-1 div.form-item-combine {
  padding-bottom: 0;
}

div.form-item-field-recipe-date-to-value-min,
div.form-item-field-recipe-date-to-value-max {
  display: none !important;
}

#views-exposed-form-loyalist-browse-recipes-page-1 div.form-item-exact-keyword {
  padding-left: 100px;
}

// Browse Recipes Form V2
#views-exposed-form-browse-recipes-v2-page-1,
#views-exposed-form-browse-recipes-v2-page-3 {
  padding-left: 40px;
}

#views-exposed-form-browse-recipes-v2-page-1 > div >
div.form-item.js-form-item,
#views-exposed-form-browse-recipes-v2-page-3 > div >
div.form-item.js-form-item {
  display: table;
}

#views-exposed-form-browse-recipes-v2-page-1 > div > div:nth-child(6),
#views-exposed-form-browse-recipes-v2-page-1 > div > div:nth-child(7),
#views-exposed-form-browse-recipes-v2-page-3 > div > div:nth-child(6),
#views-exposed-form-browse-recipes-v2-page-3 > div > div:nth-child(7) {
  display: inline-block !important;
}

#views-exposed-form-browse-recipes-v2-page-1 div.form-item,
#views-exposed-form-browse-recipes-v2-page-3 div.form-item {
  padding-right: 20px;
  padding-bottom: 10px;
}

#views-exposed-form-browse-recipes-v2-page-1 label,
#views-exposed-form-browse-recipes-v2-page-3 label {
  width: 100px;
}

#views-exposed-form-browse-recipes-v2-page-1 input,
#views-exposed-form-browse-recipes-v2-page-1 select,
#views-exposed-form-browse-recipes-v2-page-3 input,
#views-exposed-form-browse-recipes-v2-page-3 select {
  width: 310px;
}

#views-exposed-form-browse-recipes-v2-page-1 > div > div:nth-child(6) > input,
#views-exposed-form-browse-recipes-v2-page-1 > div > div:nth-child(7) > input,
#views-exposed-form-browse-recipes-v2-page-3 > div > div:nth-child(6) > input,
#views-exposed-form-browse-recipes-v2-page-3 > div > div:nth-child(7) > input {
  width: 124px;
}

#views-exposed-form-browse-recipes-v2-page-1 > div > div:nth-child(6) > input,
#views-exposed-form-browse-recipes-v2-page-3 > div > div:nth-child(6) > input {
  position: relative;
  left: -4px;
}

#views-exposed-form-browse-recipes-v2-page-1 > div > div:nth-child(7) > label,
#views-exposed-form-browse-recipes-v2-page-3 > div > div:nth-child(7) > label {
  width: 30px;
}

#views-exposed-form-browse-recipes-v2-page-1  > div > div:nth-child(8),
#views-exposed-form-browse-recipes-v2-page-3  > div > div:nth-child(8) {
  display: table;
}

#views-exposed-form-browse-recipes-v2-page-1 div.form-item-combine {
  padding-bottom: 0;
}

div.form-item-field-recipe-date-to-value-min,
div.form-item-field-recipe-date-to-value-max {
  display: none !important;
}

#views-exposed-form-browse-recipes-v2-page-1 div.form-item-exact-keyword {
  padding-left: 100px;
}

// Browse Recipes results
#browse-recipes-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5 !important;
}

.loyalist-recipe-row {
  padding-left: 20px;
}

// Edit Forms
#edit-field-recipe-date-wrapper,
#edit-field-imprecise-date-wrapper,
#edit-field-recipe-date-to-wrapper,
#edit-field-recipe-date-text-wrapper {
  background-color: #f9f9f9;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#edit-field-recipe-date-wrapper {
  border-top: 2px solid #e5e5e5 !important;
}

#edit-field-imprecise-date-wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

// Global Search Form
#edit-combine {
  width: 360px;
}

#views-exposed-form-loyalist-browse-recipes-page-2 > div >
div.form-item-combine::before {
  visibility: visible;
  position: relative;
  top: 2px;
  left: 24px;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f002"
}

#views-exposed-form-loyalist-browse-recipes-page-2 > div >
div.form-item-combine:focus-within::before {
  visibility: hidden;
}

// Global Search Form V2
#edit-search-api-fulltext {
  width: 360px;
}

#views-exposed-form-browse-recipes-v2-page-2 > div >
div.form-item-search-api-fulltext::before {
  visibility: visible;
  position: relative;
  top: 2px;
  left: 24px;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f002"
}

#views-exposed-form-browse-recipes-v2-page-2 > div >
div.form-item-search-api-fulltext:focus-within::before {
  visibility: hidden;
}

// Homepage
#loyalist-header {
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  height: 100px;
  background-color: #cfd7cd;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  opacity: 0.8;

  h1 {
    color: $color-dark-gray;
    font-size: 40px;
  }
}

#search-recipes {
  text-align: center;
  color: $color-dark-mint;

    h2 {
      font-size: 14px;
      font-weight: bold;
    }
}

#views-exposed-form-loyalist-browse-recipes-page-2 #edit-submit-loyalist-browse-recipes {
  display: none;
}

#views-exposed-form-browse-recipes-v2-page-2 #edit-submit-browse-recipes-v2 {
  display: none;
}

#intro-text {
  max-width: 100%;

  p {
    text-align: justify;
  }
}

#home-explore,
#home-featured {
  padding: 16px;
  height: 200px;
  background-color: $color-mint;
}

#home-explore > ul > li,
#home-featured > ul > li {
  margin-left: 10px;
}

#home-explore {
  position: relative;
  right: 10px;
  margin-right: 10px;
}

#home-featured td {
  width: 40%;
  padding: 4px !important;
}

#featured-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $color-dark-gray;
}

// View Recipe
ul.tabs--primary.nav.nav-tabs > li:not(.active) {

  a {
    background-color: white;
    opacity: .8;

    &:hover {
      opacity: 1;
      border-color: transparent;
    }
  }
}

ul.tabs--primary.nav.nav-tabs > li.active a {
  font-weight: bold;
}

body > div.dialog-off-canvas-main-canvas > div > div > div > div > nav > ul
#recipe-details-header {
  padding-left: 20px;
}

#recipe-collapse,
#recipe-collapse:hover,
#recipe-collapse:focus {
  text-decoration: none;

  & .glyphicon-triangle-right {
    display: inline-block;
  }
  & .glyphicon-triangle-bottom {
    display: none;
  }

  &[aria-expanded="true"] {
    & .glyphicon-triangle-right {
      display: none;
    }
    & .glyphicon-triangle-bottom {
      display: inline-block;
    }
  }

}

#recipe-pages-images {
  img {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid #e5e5e5;
  }
}

#recipe-trans {
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    line-height: 340%;
}

#recipe-details {
  padding-left: 40px;
}

#recipe-details div.field.field--name-field-contributor-role {
    font-weight: 500;
}

#recipe-anno {
  border-left: 2px solid #e5e5e5;

  .field--items {
    padding-top: 1em;
  }
}

#recipe-anno > div > div.field--items > div > div {
  padding-bottom: 1em;
}

#recipe-pages,
#recipe-anno {
  padding-top: 1em;
}

// View Source
article.contextual-region div#source-content div.field {
  padding: 10px;
}

article.contextual-region div#source-content div.field img {
  float: right;
  padding: 20px;
}

h1.page-header > a {
  color: white !important;
  text-decoration: underline !important;

  &:hover, &:focus, &:active, &:visited {
    color: white !important;
    text-decoration: underline !important;
  }
}

/* Transcription */
#recipe-trans .trxn-caret {
  position: relative;
  bottom: -.9em;
  color: $color-red;
}

#recipe-trans .trxn-text {
  position: absolute;
  display: inline;
  width: max-content;
  width: -moz-max-content;
  bottom: 1.5em;
}

#recipe-trans .trxn-replace {
  position: relative;
  bottom: -.9em;
  color: $color-red;
}

#recipe-trans .trxn-retext {
  position: absolute;
  display: inline;
  width: max-content;
  width: -moz-max-content;
  bottom: 1.5em;
}

#recipe-trans span.loyalist-anno {
  position: relative;
  color: $color-red;
}

#recipe-trans .trxn-margin {
  bottom: 1.1em;
}

#recipe-trans .trxn-margin > .trxn-text {
  visibility: hidden !important;
}

.trxn-number {
  background-color: $color-red;
  color: white;
  padding: 0 3px;
}

#recipe-anno .trxn-number {
  margin-right: 6px;
}

#recipe-anno .field--name-field-annotation-text {
  font-weight: bold;
}

#marginalia .trxn-text {
  position: relative !important;
  bottom: 0px !important;
}

#marginalia {
  padding-top: 10px !important;
}

#download {
  padding-left: 40px;
}

/* Adcanced Sources View */
.advanced-source-row {
  padding-bottom: 20px;
  padding-left: 36px;

  & .glyphicon {
    font-size: 0.8em;
  }

  & .glyphicon-triangle-right {
    display: inline-block;
  }
  & .glyphicon-triangle-bottom {
    display: none;
  }

  & [aria-expanded="true"] {
    & .glyphicon-triangle-right {
      display: none;
    }
    & .glyphicon-triangle-bottom {
      display: inline-block;
    }
  }
}
.advanced-source-title {
  font-size: 18px;
}

.source-desc-recipes {
  padding-top: 10px;
  padding-left: 36px;
  font-size: 14px;
}

.collapsed-recipes {
  padding-left: 36px;
}

/* Recipes For View */
.recipes-for-row {
  display: inline;
  font-size: 18px;
  padding-left: 36px;
}

.full-recipes-for-row > ul > li {
  padding-bottom: 4px;
}

.full-recipes-for-row > ul > li:hover {
  background-color: #e5e5e5;
}

.full-recipes-for-row .paragraph-formatter .paragraph-info.form-group {
  margin-bottom: 0px;
}

.paragraph-formatter.form-group {
  display: inline-table;
  display: -moz-box;
}

.full-recipes-for-row .paragraphs-collapsed-description::after {
  content: "";
}

/* User Menu */
// Hide view user tab, email section, picture, contact + locale settings.
body.path-user div.form-item.form-item-mail.js-form-item-mail.form-group,
body.path-user div.form-item.js-form-item-user-picture-0.form-group,
body.path-user div#edit-contact,
body.path-user div#edit-timezone {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  #views-exposed-form-loyalist-browse-recipes-page-2 > div >
  div.form-item-combine::before {
    display: none;
  }

  #views-exposed-form-browse-recipes-v2-page-2 > div >
  div.form-item-combine::before {
    display: none;
  }

  #search-recipes {
    text-align: justify;
  }

  #edit-combine {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #home-explore {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  #recipe-details {
    padding-left: 16px;
  }

  #recipe-trans, #download {
    padding-top: 20px;
    padding-left: 10px;
  }

  #recipe-anno {
    border: none;
  }

  .footer-logo {
    margin-top: 10px;
  }
}
