@import "import";

body {
  background: url(../../images/bg.png);
}

#header-branding {
  a {
    color: inherit;
    transition: opacity .3s ease;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: .7;
    }
  }

  h1 {
    color: $black;
    font-family: $font-family-sans-serif;
  }
}

#content-wrapper {
  background: #fefefe;
  box-shadow: 0 0 .5rem rgb(0 0 0 / 20%);
  flex: 1;
}
