/* Flash of Unstyled Content - Step 1/2 */
.view-content {
  .table-responsive {
    visibility: hidden;
  }
}

.form--inline {
  select {
    height: 44px;
    opacity: 0.1;
  }
}

.swiper-slider {
  max-height: 267px;

  @media (min-width: 1400px) {
    max-height: 525px;
  }

  @media (min-width: 1200px) {
    max-height: 458px;
  }

  @media (min-width: 992px) {
    max-height: 392px;
  }

  @media (min-width: 768px) {
    max-height: 333px;
  }
}
