@import 'custom/imports';

// Body.
#skiptomain a {
  background: $link-color;
  color: $white;
  display: block;
  font-size: $font-size-base * 2;
  position: absolute;
  text-align: center;
  text-decoration: none;
  /*text-underline-offset: $text-underline-offset;*/
  top: $font-size-base * -3.5;
  transition: $transition-all;
  width: 100%;
  z-index: 999;

  &:focus {
    box-shadow: 0 0 5px $black;
    /*text-decoration: underline;*/
    border: 3px ridge var(--bs-primary-bg-subtle);
    top: 0;
    transition: top $transition-speed-default $transition-timing-default;
  }
}

// Browser overrides.
header {
  border-bottom: 5px solid var(--bs-dark);
  margin-bottom: $spacer * 1.5;

  nav {
    padding: $spacer * 0.25 0;
  }
}

main {
  a,
  button.link {
    display: inline-block;
    text-decoration: $text-decoration-line-default $text-decoration-color-default;
    text-underline-offset: $text-underline-offset;
    transition: $transition-all;

    &:focus {
      text-decoration: $text-decoration-color-default;
    }

    &:focus-visible {
      @include focus_outline(rgba(var(--bs-link-color-rgb), 0.7));
    }

    &:hover {
      text-decoration: var(--bs-link-hover-color) $text-decoration-style-hover;
    }
  }

  #main-content {
    &:focus-visible {
      outline-color: var(--bs-primary-bg-subtle);
    }
  }
}

footer {
  &.footer-dark {
    a {
      text-decoration: $text-decoration-line-default $text-decoration-color-default;

      &:focus-visible {
        @include focus_outline($link-text-light);
        background: inherit;
      }
      &:hover {
        text-decoration: var(--bs-light) $text-decoration-style !important;
      }
    }
  }

  #footer-logo {
    a {
      img {
        border-bottom: 1px solid transparent;
        transition: $transition-all;
      }

      &:hover {
        img {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}


.block-system-main-block {
  h3 {
    margin-top: $spacer * 2;
  }
  h2 {
    &:not(:first-of-type) {
      margin-top: $spacer * 2.5;
    }

    & + h3 {
      margin-top: $spacer;
    }
  }
}

.lh-base-less {
  line-height: calc($line-height-base * 0.95);

  .table>:not(caption)>*>* {
    padding-bottom: $spacer * 0.75;
    padding-top: $spacer * 0.75;
  }
}

figure {
  width: 100%;
}
li:not(.nav-item):not(.menu-item):not(.facet-item) {
  margin-bottom: $spacer * 0.5;
}
