.breadcrumb {
  border-bottom: 1px solid var(--bs-border-color);
  margin-bottom: $spacer * 2;

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: $text-decoration-style;
    }
  }
}
.breadcrumb-item+.breadcrumb-item::before {
  /* rtl: var(--bs-breadcrumb-divider, "/") */
  content: var(--bs-breadcrumb-divider, "»") ;
}
