.region-nav-branding {
  flex-shrink: unset;

  a.site-title {
    color: var(--bs-nav-link-color);
    font-size: $spacer * 2;
    line-height: 1;
    // Offset BS5 nav.branding boundary space characters re: wrap.
    margin-left: $spacer * -0.25;
    padding: $spacer * 0.25;
    text-decoration: transparent underline;
    text-underline-offset: $spacer * 0.35;
  }

  &:hover {
    color: var(--bs-nav-link-color);
  }

  a.site-logo {
    &:hover {
      outline: none;
    }
  }

  .navbar-brand {
    margin-right: 0;

    svg {
      height: 77px;
      margin-right: $spacer * 0.66;
    }
  }

  .navbar .navbar-brand {
    margin-right: 0;
    gap: $spacer * .75;

    img {
      margin-right: 0;
    }



    @media (max-width: 576px) {
      .site-logo {
        /*margin-right: $spacer * 0.75;*/
        height: auto;
        max-height: 72px;
      }
    }

    @media (min-width: 992px) {
      .site-logo {
        margin-right: $spacer * 1.25;
      }
      .site-title {
        font-size: $font-size-base * 2.25;
      }
    }
  }
}

.navbar {
  .nav-main-menu {
    flex: 0 0 auto;
  }

  a,
  .dropdown-toggle {
    // Note: Accessible dropdown-toggle => Drupal|Menus|Main navigation|Menu link|Link = <button>.
    color: var(--bs-nav-link-color);
    outline-color: var(--bs-white);
    padding-bottom: $spacer * 0.25;
    padding-top: $spacer * 0.25;
    text-decoration: transparent $text-decoration-style;
    transition: outline-color $transition-speed-default $transition-timing-default;

    &:hover,
    &:focus-visible.dropdown-item{
      @include focus_outline(var(--bs-navbar-brand-color));
    }

    &.is-active,
    &.active {
      background-color: rgba(128, 128, 128, 0.1);
      color: var(--bs-nav-link-color);

      &:not(:focus-visible) {
        @include focus_outline(var(--bs-secondary-border-subtle));
      }
    }
  }

  .nav-item:not(:last-child) {
    margin-right: $spacer * 0.35;
  }

  .dropdown-menu {
    padding: $spacer * 0.25;

    .nav-item:not(:last-child) {
      margin-bottom: $spacer * 0.35;
    }

    .dropdown-item {
      line-height: normal;
      padding: $spacer * 0.25 $spacer * 0.5;

      &:focus-visible {
        // Mirror BS5 nav-link visual focus indicator for dropdown links.
        box-shadow: 0 0 0 $spacer * 0.25 var(--bs-focus-ring-color);
        outline: 0;
      }

      @media (min-width: 768px) {
        white-space: normal;
      }
    }
  }
}
