.pagination {
  .page-link {
    text-decoration: $text-decoration-line-default;
    text-decoration-color: rgba(0,0,0,0);
    transition: text-decoration-color $transition-speed-default $transition-timing-default;

    &:hover {
      text-decoration-color: rgba(var(--bs-link-hover-color-rgb), 1);
    }
  }

  .active {
    a {
     &:hover {
       cursor: default;
       text-decoration: none;
     }
    }
  }
  .disabled {
    display: none;
  }
}
