#scrollUp {
  bottom: $spacer * 1.5;
  right: $spacer * 1.5;
  opacity: 0.6;
  transition: opacity $transition-speed-default $transition-timing-default;

  &:focus,
  &:hover {
    opacity: 1;
  }
  /* jQuery_Scrollup > admin > user interface > Button background hover color */
  &:focus {
    background: #880401;
  }
}
