/* Mimic old Loyalist table style w/ BS5 within Loyalist Record>Contents */
table:not([class]),
table.MsoTableGrid {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-emphasis-color);
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  border-color: var(--bs-table-border-color);
  margin-bottom: 1rem;
  width: 100%;

  &>:not(caption)>* {
    border-width: var(--bs-border-width) 0;
  }
  &>:not(caption)>*>* {
    color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-width: 0 var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
    padding: $spacer * 0.25 $spacer * 0.25;
    vertical-align: top;
  }
}

thead {
  &.table-dark {
    a {
      color: var(--bs-white);
      white-space: nowrap;

      &:hover {
        text-decoration-color: var(--bs-white);
      }

      &:focus-within {
        outline-color: var(--bs-white);
      }
    }
  }

  th {
    &:not([aria-sort]) {
      a {
        &:after {
          color: var(--bs-gray-400);
          @include fa_pseudo('\f0dc', 'left', 0.5);
        }
      }
    }
    &[aria-sort] {
      a {
        color: var(--bs-warning);

        &:hover {
          text-decoration-color: var(--bs-warning);
        }
      }

    }

    .tablesort--asc {
      // background-image: url(/core/misc/icons/ffffff/twistie-down.svg);
      background: none;
      height: $core-icon-size;
      width: $core-icon-size;

      &:after {
        @include fa_pseudo('\f881', 'left', 0);
        color: var(--bs-warning);
        font-size: 1.1rem;
      }
    }
    &.views-field-field-motty-event-date {
      .tablesort--asc {
        &:after {
          content: "\f886";
        }
      }
    }

    .tablesort--desc {
      // background-image: url(/core/misc/icons/ffffff/twistie-up.svg);
      background: none;
      height: $core-icon-size;
      width: $core-icon-size;

      &:after {
        @include fa_pseudo('\f15e', 'left', 0);
        color: var(--bs-warning);
        font-size: 1.1rem;
      }
    }
    &.views-field-field-motty-event-date {
      .tablesort--desc {
        &:after {
          content: "\f163";
        }
      }
    }
  }
}
