{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="navbar-brand d-flex align-items-center justify-content-center">

  {% if site_logo %}
    <div>
      <a href="{{ path('<front>') }}" rel="home" tabindex="-1" class="site-logo"
      {% if '/home' in path('<current>') %}aria-current="page"{% endif %}>
        {% include '@the_loyalist_collection/includes/loyalist-crop-flat-colour.html.twig' %}
      </a>
    </div>
  {% endif %}

  <div>
    {% if site_name %}
    <a href="{{ path('<front>') }}" rel="home" class="site-title nav-link"
      {% if '/home' in path('<current>') %}aria-current="page"{% endif %}>
      {{ site_name }} <span class="visually-hidden">homepage</span>
    </a>
    {% endif %}

    {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
