.region-nav-branding {
  flex-shrink: unset;
}

.navbar-brand {
  margin-right: 0;

  img {
    margin-right: 0;
  }

  .site-logo {
    margin-right: 0.75rem;
  }

  a.site-title {
    color: var(--bs-black);
    font-size: 2rem;
    line-height: 1;
    // Offset BS5 nav.branding boundary space characters re: wrap.
    margin-left: -0.25rem;
    padding: 0.25rem;
  }
  @media (min-width: 992px) {
    .site-logo {
      margin-right: 1.25rem;
    }
    .site-title {
      font-size: 2.25rem;
    }
  }
}

.navbar {
  a {
    outline-offset: 1px;
    padding: 0.25rem;
    text-decoration: transparent $text-decoration-style!important;

    &:not(.active):hover {
      text-decoration: $link-text-dark $text-decoration-style!important;
    }

    &:focus-visible {
      @include focus_outline($link-text-dark);
    }
  }
}
.nav-main-menu {
  flex: 0 0 auto;
  max-width: 41.67%;

  a {
    &.active:hover {
      cursor: default;
      text-decoration: transparent $text-decoration-style;
    }
  }
}
